.chart-series-line {
	-fx-stroke:#0f4d8d;
}
.chart-line-symbol { /* solid circle */
	-fx-background-color: #0f4d8d;
	-fx-background-radius: 3px;
	-fx-padding: 3px;
}
.chart-legend {
	-fx-background-color:transparent;
}
.chart-title {
	-fx-text-fill: #525252;
	-fx-font-size: 1.6em;
}
.axis-label {
	-fx-text-fill: #525252;
	-fx-font-size: 1em;
}